@page "/Success"
<div class=" container">
    <h>Signed Up Succefully!</h>
    <img src = "imgs/qqq.png"/>
</div>
<style> 
    body{
        background: radial-gradient(circle,#dad4d6 , #f5b0c7);
    }
    h{
        font-family: "Ultra", serif;
        font-size: 130px;
        padding: 40px;
        display: flex;
        justify-content: center; /* Center horizontally */
    }
    img{
        background-color: transparent;
        padding: 40px;
        display: flex;
        margin-left:175px;
    }
</style>
